body {

    overflow: hidden;
    background: #333; /* Цвет фона */
}

.up-overlay {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 240%; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    left: 40%;
    top: 30%;
    color: #fff;
    z-index: 3000002;
}

.gcons {
    position: absolute;
    left: 50px;
    bottom: 45px;
    z-index: 3000002;
}

.up-BYN {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 600%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 10%;
    top: 50%;
    color: #fff;
    z-index: 3000002;
    word-wrap: break-word;
}

.up-BYN1 {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    left: 13%;
    top: 70%;
    color: #fff;
    z-index: 3000002;
    word-wrap: break-word;
}

.up-RUB {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 600%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 42%;
    top: 50%;
    color: #fff;
    z-index: 3000002;
}

.up-RUB1 {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    left: 49%;
    top: 70%;
    color: #fff;
    z-index: 3000002;
}

.up-USD {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 600%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 80%;
    top: 50%;
    color: #fff;
    z-index: 3000002;
}

.up-USD1 {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    left: 84%;
    top: 70%;
    color: #fff;
    z-index: 3000002;
}

.down-overlay {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 250%; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    left: 45%;
    top: 80%;
    color: whitesmoke;
    z-index: 3000002;
}

.about_conversion {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 110%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 10%;
    top: 5%;
    color: #fff;
    z-index: 3000002;
}

.conversion_uah {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 55%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.conversion_byn {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 63%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.conversion_rub {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 70.5%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.conversion_usd {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 78%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.about_conversion_ua {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 51%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.about_conversion_by {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 59%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.about_conversion_ru {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 67%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}

.about_conversion_usa {
    position: absolute;
    font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 90%; /* Размер текста */
    font-weight: 500; /* Светлое начертание */
    left: 75%;
    top: 5.5%;
    color: #fff;
    z-index: 3000002;
}
.video_overlays {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 200%;
    min-height: 300%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 300000;
}


.trailer > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.myButton {
    position: absolute;
    background-color: transparent;
    border-radius: 52px;
    font-size: 65%;
    font-weight: lighter;
    border: 2px solid #fff;
    color: #fff;
    font-family: Gill Sans, sans-serif;
    left: 90%;
    top: 89%;
    z-index: 8800000;
}

@media only screen and (max-width: 1024px) {
    body {

        overflow: hidden;
        transform: rotate(90deg);
        transform-origin: bottom left;
        width: 145vh;
        height: 100vw;
        margin-top: -102vw;
        background: #333; /* Цвет фона */
    }

    .up-overlay {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 240%; /* Размер текста */
        font-weight: lighter; /* Светлое начертание */
        left: 16%;
        top: 19%;
        color: #fff;
        z-index: 3000002;
    }

    .gcons {
        position: absolute;
        left: 2%;
        height: 45%;
        z-index: 3000002;
    }

    .up-BYN {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 300%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 10%;
        top: 40%;
        color: #fff;
        z-index: 3000002;
        word-wrap: break-word;
    }

    .up-BYN1 {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 90%; /* Размер текста */
        font-weight: lighter; /* Светлое начертание */
        left: 11.5%;
        top: 65%;
        color: #fff;
        z-index: 3000002;
        word-wrap: break-word;
    }

    .up-RUB {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 300%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 33%;
        top: 40%;
        color: #fff;
        z-index: 3000002;
    }

    .up-RUB1 {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 90%; /* Размер текста */
        font-weight: lighter; /* Светлое начертание */
        left: 37%;
        top: 65%;
        color: #fff;
        z-index: 3000002;
    }

    .up-USD {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 300%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 60%;
        top: 40%;
        color: #fff;
        z-index: 3000002;
    }

    .up-USD1 {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 90%; /* Размер текста */
        font-weight: lighter; /* Светлое начертание */
        left: 62.5%;
        top: 65%;
        color: #fff;
        z-index: 3000002;
    }

    .down-overlay {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 250%; /* Размер текста */
        font-weight: lighter; /* Светлое начертание */
        left: 30%;
        top: 80%;
        color: whitesmoke;
        z-index: 3000002;
    }

    .video_overlays {
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 200%;
        min-height: 300%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 300000;
    }

    .trailer > video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .myButton {
        position: absolute;
        background-color: transparent;
        border-radius: 52px;
        font-size: 45%;
        font-weight: lighter;
        border: 2px solid #fff;
        color: #fff;
        font-family: Gill Sans, sans-serif;
        left: 65%;
        top: 89%;
        z-index: 8800000;
    }
    .about_conversion {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 60%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 17%;
        top: 1%;
        color: #fff;
        z-index: 3000002;
    }

    .conversion_uah {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 25%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .conversion_byn {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 32.5%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .conversion_rub {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 39%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .conversion_usd {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 45%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .about_conversion_ua {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 21%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .about_conversion_by {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 28%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .about_conversion_ru {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 35.5%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }

    .about_conversion_usa {
        position: absolute;
        font-family: Gill Sans, sans-serif; /* Гарнитура шрифта */
        font-size: 50%; /* Размер текста */
        font-weight: 500; /* Светлое начертание */
        left: 42%;
        top: 5.5%;
        color: #fff;
        z-index: 3000002;
    }
}
