{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'favicon.png' %}" rel="shortcut icon">
    <title>Штаны за 40 гривень</title>
</head>
<body>


<header>
    <div class="container">
        <div class="count_pants" id="myP">
            <p>Количество штанов, которое может купить житель страны, исходя из среднего дохода:&nbsp;&nbsp;&nbsp;Украина
                - {{ conversion_uah }}&nbsp;&nbsp;&nbsp;Беларусь - {{ conversion_byn }}&nbsp;&nbsp;&nbsp;Россия - {{ conversion_rub }}&nbsp;&nbsp;&nbsp;США
                - {{ conversion_usd }}
            </p>
        </div>
    </div>
</header>

<main>
    <div class="main_money">
        <p class="head_money_text">ЙОБ ТВОЮ МАТЬ, ЗА</p>
        <div class="course">
            <div class="row">
                <p class="count_money"  >{{ byn }}</p>
                <p class="name_money" >BYN</p>
            </div>
            <div class="row">
                <p class="count_money"  >{{ rub }}</p>
                <p class="name_money" >RUB</p>
            </div>
            <div class="row">
                <p class="count_money"  >{{ usd }}</p>
                <p class="name_money" >USD</p>
            </div>

        </div><br>
        <p>ШТАНЫ</p>
    </div>

    <div class="video_overlays"></div>
    <div class="background_video">
        <video id="video" width="100%" height="100%" autoplay="autoplay" muted loop="loop" preload="auto">
            <source src="{% static 'videoplayback.mp4' %}" type='video/mp4'/>
        </video>
    </div>


    <div class="gcons">
        <p><a href="https://github.com/Salavei/"><img style="filter: invert(42%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(1519%);" src="{% static 'github-svgrepo-com.svg' %}" width="30"
                                          height="30" alt="github"></a></p>
        <p><a href="https://www.linkedin.com/in/andrewsalavei/"><img style="filter: invert(100%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);" src="{% static 'linkedin-svgrepo-com.svg' %}" width="30"
                                             height="30" alt="linkedin"></a></p>
        <p><a href="https://t.me/andrewsalavei"><img style="filter: invert(92%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);" src="{% static 'telegram-svgrepo-com.svg' %}" width="30"
                                              height="30" alt="telegram"></a></p>

    </div>

    <button class="myButton" onclick="enableMute()" type="button">ЗВУК</button>

</main>


<script>
    var vid = document.getElementById("video");

    function enableMute() {
        if (vid.muted == true) {
            vid.muted = false;
        } else {
            vid.muted = true;
        }
    }
</script>
</body>
</html>